---
import Navigation from "../Navigation.astro"
import ThemeController from "../ThemeController.astro"
---
<header class="navbar p-4">
   <div class="hidden md:block md:flex-1">
      <a href="/" class="btn bg-primary">YH1549</a>
   </div>
   <div class="flex-1">
      <Navigation></Navigation>
   </div>
   <div class="flex-none">
      <ThemeController></ThemeController>
   </div>
</header>