---
import { Icon } from "astro-icon/components";
import Nav from "../Nav.astro";
import ThemeController from "../ThemeController.astro";
---

<header class="flex p-2 justify-between bg-base-100">
  <a href="/" class="">
    <Icon name="CuteCat" width={60} height={60} />
  </a>
  <Nav />
  <ThemeController />
</header>
