---
import { getCollection } from "astro:content";
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageInfo = {
	title:"Blog"
}
// get all posts
const allPosts = await getCollection("posts");

// filter posts
const filterPosts = await getCollection("posts", (post)=>{return post.data.author !== "Astro"});
---
<BaseLayout pageInfo={pageInfo}>
<h1>Blog</h1>
<ul>
  {allPosts.map((post) => <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />)}
</ul>

</BaseLayout>