---
import Divider from '../components/Divider.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageInfo = {
	title:"Home Page",
}
---
<BaseLayout pageInfo={pageInfo}>
	<h1 class="text-2xl text-red-500">Test</h1>
	<Divider dividerInfo={{context: ''}}></Divider>
	<p>intro</p>
	<Divider dividerInfo={{ context: '123'}}></Divider>
	<p>recent Blog</p>
</BaseLayout>
