---
import { getCollection } from "astro:content";
import PostItem from '../components/PostItem.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { ITEMS_PER_PAGE } from "../script/const.js";
import { sortPostByDate } from "../script/function.js";
const fields = await Astro.glob('../content/field/index.md')


const pageInfo = {
	title:"Home Page",
}

const recentPosts = sortPostByDate(await getCollection("posts"));
---
<BaseLayout pageInfo={pageInfo}>
	{fields}
	<section class="min-h-10">
		<h1 class="md:text-[70px] md:py-4 text-red-500 font-extrabold">早安你好</h1>
		<p class="text-primary">歡迎光臨歡迎光臨歡迎光臨歡迎光臨<br/>歡迎光臨歡迎光臨歡迎光臨</p>
	</section>
	<h2>Latest Posts</h2>
	{recentPosts.slice(0, ITEMS_PER_PAGE).map((post) => <PostItem post={post}/>)}
</BaseLayout>
