---
import PageHeader from "components/container/PageHeader.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageInfo = {
  title: "Blog",
};
const { frontmatter } = Astro.props;
---

<BaseLayout pageInfo={pageInfo}>
  <PageHeader title={frontmatter.title} intro={frontmatter.description}>
    <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
    <p>Written by: {frontmatter.author}</p>
  </PageHeader>
  <slot />
</BaseLayout>
